* {
  box-sizing: border-box;
  outline: 1px dotted #ccc;
}

/*
  declare variables
*/

body {
  --default-font-size: 1.5em;
  --default-font-size-xl-header: 3.5em;
  --default-font-size-l-header: 2.5em;
  --default-font-weight: 400;
  font-family: Helvetica;

  --default-padding: 1em;

  --default-column-width: 25vw;
}

h1 {
  font-size: var(--default-font-size-xl-header);
}
h2 {
  font-size: var(--default-font-size-l-header);
}

/*
reset some padding and margins
*/
figure {
  margin: 0;
}
/*
  MAIN GRID LAYOUT
  */
body,
.columns {
  display: grid;
}

.columns {
  grid-gap: var(--default-padding);
  grid-template-columns: 1fr, 1fr;
}

body > .block {
  padding: 0 var(--default-padding);
}

/*
images
*/
img {
  width: 100%;
}
